.sortpopup__wrapper{
    height: 200px;
    width: 400px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    position: absolute;
    /* margin: auto; */
    margin-top: 10;
    top: 40%;
    left: 40%;
    box-shadow: 0px 4px 15px -8px rgb(0 0 3 / 50%);
    z-index: 1;
    align-items: center;
    justify-content: center;
}
.ul--block li{
    font-size: 20px;
    cursor: pointer;
}
.sortpopup__wrapper-container{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(32 32 32 / 38%);
}
.sortpopup__block{
    display: flex;
    justify-content: center;
}
li .active{ 
    background: #FFED50;
    width: 250px;
    height: 40px;
    border-radius: 10px;
}
.sort__span{
    border-radius: 15px;
    width: 410px;
    height: 50px;
    border: 0px solid #ffffff;
    background: #EBEBEB;
    color: rgb(117 117 117);
    padding: 12px 0px 3px 52px;
    box-shadow: 0px 4px 10px -8px rgb(0 0 0 / 80%);
}

li{
    list-style-type: none;
    padding: 3px 0px 3px 0px;
    text-align: center;
}
/* .menu{
    background-color: rgb(15 37 53 / 88%);
    position: fixed;
}
.menu.active{
    transform: translateY(0);
}
.menu{
    background-color: #120e01e6;
    position: fixed;
    width: 96%;
    height:  88vh;
    top: 60px;
    border-radius: 30px;
    right: 7px;
    transform: translateY(-110%);
    transition: all 0.4s;
    transition: 0.3s;
}
.menu.active{
    transform: translateY(0);
    transition: 0.3s;
} */
/*----------------------QuestionBlock-----------------------*/
.question__block{
    /* position: absolute; */
    /* top: 367px;
    left: 124px; */
}
.question__block svg{
    color: darkgrey;
}
/* .icon__svg svg{
    position: relative;
    right: 31px;
    top: 11px;
 } */
.icon__svg{
    position: relative;
    top: 27px;
    left: -180px;
}
.icon__svg--outline{
    position: relative;
    top: 27px;
    left: 44px;
}


.sortpopup__wrapper-quest{
    height: 140px;
    width: 250px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    /* margin: auto; */
    margin-top: 10;
    top: 497px;
    left: 632px;
    box-shadow: 0px 4px 15px -8px rgb(0 0 3 / 50%);
}
.sortpopup__wrapper-quest p{
    padding: 10px;
    text-align: center;
}
/*----------------------QuestionBlock-----------------------*/