/*===========стили div в cards СardOrder.jsx=============*/
.order__content-telefon{
    display: flex;
    /* justify-content: space-between;  */
    width: 100%;
    height: 100px;
    background: #ffffff;
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 56px;
  }
  .order__content{
    display: flex;
    justify-content: space-between; 
    width: 100%;
    height: auto;
    background: #ffffff;
    margin-top: 1px;
    padding: 19px 7px 19px 9px;
  }
  .status__order{
    width: 103px;
    font-size: 10px;
    margin: auto;
    color: #979797;
    text-align: center;
  }
  .bl_heitgh--crOrder{
    height: 100px;
  }